<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>My Book List</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <tr>
            <th> Mã nhân viên </th>
            <th> Tên nhân viên</th>
            <th> Giới tính</th>
            <th> Nơi sinh</th>
            <th> Tên Phòng</th>
            <th> Lương</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')"> Action</th>
        </tr>
        <tr th:each="nhanVien : ${nhanViens}">
            <td th:text="${nhanVien.maNV}"></td>
            <td th:text="${nhanVien.tenNV}"></td>

            <td style="width: 5px">
                <img th:if="${nhanVien.gioiTinh == 'NAM'}" src="images/man.jpg" style="max-width: 100%" alt="Male Image">
                <img th:if="${nhanVien.gioiTinh == 'NU'}" src="images/woman.jpg" style="max-width: 100%" alt="Female Image">
            </td>

            <td th:text="${nhanVien.noiSinh}"></td>
            <td th:text="${nhanVien.phongBan.tenPB}"></td>
            <td th:text="${nhanVien.luong}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/nhanViens/edit/{maNV}(maNV=${nhanVien.maNV})}">Edit</a>
                <a th:href="@{/nhanViens/delete/{maNV}(maNV=${nhanVien.maNV})}"
                   onclick="return confirm('are you sure?')">Delete</a>
            </td>
        </tr>

    </table>
</div>


<th:block th:replace="layout :: footer"></th:block>
</body>
</html>